//
//  Secrets.swift
//  ANZ
//
//  Created by Will Townsend on 8/02/17.
//  Copyright © 2017 Will Townsend. All rights reserved.
//

struct Secrets {
    static let passcode: String = ""
    static let username: String = ""
    static let password: String = ""
}
